<div class="row">
  <div class="col-md-12">
    <%= form_tag fill_path, method: :post, remote: true do %>
    <%= text_field_tag :sedan_number, '5' %>
    <%= text_field_tag :disabled_number, '3' %>
    <%= text_field_tag :track_number, '2' %>
    <%= submit_tag 'Initiate', class: 'btn' %>
    <% end %>
  </div>
</div>

<div class="row schema">
</div>